    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About the Goode Family Light Show</h2>
              <br/>
                <p>It started with an idea...</p>
                <p>No, the image above is not the light show. That's downtown Austin, TX. But until I have pictures to post, it will have to do.</p>
<!--
                <p></p>
-->
                <br/>
              </div>
        </div>
    </section>
